In [664]:
import pandas as pd
from statsmodels.formula.api import ols
import statsmodels.api as sm
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, roc_curve, auc, precision_recall_curve, mean_squared_error, mean_absolute_error, r2_score
import numpy as np
from statsmodels.tsa.stattools import acf
from statsmodels.regression.linear_model import GLS, GLSAR

Part A (25%)
1. Download the “dataset_lm.csv” file from Canvas and upload it to Jupyter Notebook.
2. Run the OLS model by using the dependent and explanatory variables in the dataset.
3. Show your summary table in Python and interpret your results in the summary report.

In [665]:
df = pd.read_csv('/Users/mikeredshaw/Documents/Schulich MBAN/Predictive Modelling | MBAN 5110 U /Assignment 1/dataset_lm.csv')

In [666]:
df.head()

,Dependent Var,Explanatory Var #1,Explanatory Var #2,Explanatory Var #3,Explanatory Var #4,Explanatory Var #5,Explanatory Var #6,Explanatory Var #7,Explanatory Var #8,Explanatory Var #9,Explanatory Var #10,Explanatory Var #11,Explanatory Var #12,Explanatory Var #13,Explanatory Var #14,Explanatory Var #15
0,56.293458,13.698667,50.639873,0,-18.568035,45.121911,11.412501,56.410757,2,-12.281132,38.996909,-3.010548,49.195073,0,-21.153143,46.919314
1,58.473431,2.714725,65.845845,1,-25.105932,47.190213,10.080280,65.383107,3,-36.763585,51.654939,4.991111,45.591729,0,-6.474403,53.383508
2,94.195330,11.618072,65.072497,0,-7.897464,52.163036,11.057301,82.812717,0,-15.733547,48.913837,-2.457696,56.608806,0,-27.903299,48.515026
3,29.074583,0.818623,45.408996,1,-18.316132,54.356714,5.029029,48.812471,1,-12.825591,45.851732,14.974177,47.362594,1,-10.064411,55.266254
4,86.035569,9.077544,73.548021,0,-19.204165,47.186807,12.128134,62.520911,2,-13.804860,47.765904,9.593982,53.700562,0,-17.546302,48.150543

In [667]:
df.describe(include='all')

,Dependent Var,Explanatory Var #1,Explanatory Var #2,Explanatory Var #3,Explanatory Var #4,Explanatory Var #5,Explanatory Var #6,Explanatory Var #7,Explanatory Var #8,Explanatory Var #9,Explanatory Var #10,Explanatory Var #11,Explanatory Var #12,Explanatory Var #13,Explanatory Var #14,Explanatory Var #15
count,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000
mean,67.838396,7.762058,59.725134,0.500000,-16.078411,50.133715,10.420808,61.887309,1.566351,-24.511691,49.728665,7.740874,60.765794,0.500000,-16.673762,50.066901
std,25.676960,7.013243,9.579112,0.500593,8.111197,6.975674,11.520725,14.819969,1.115260,8.500500,6.910690,7.102714,9.525835,0.500593,8.106466,6.794584
min,-2.997183,-4.832834,44.124858,0.000000,-29.774797,30.009511,-9.828552,34.093154,0.000000,-39.979696,26.436407,-4.949728,44.158200,0.000000,-29.750628,32.118882
25%,49.482037,1.720182,51.617692,0.000000,-23.792637,45.423422,-0.174835,49.952772,1.000000,-32.037707,45.283603,1.838210,52.849792,0.000000,-23.797763,45.825931
50%,66.780110,7.905455,59.735139,0.500000,-15.875481,50.093602,10.422513,62.554591,2.000000,-23.767548,49.842746,8.055297,60.773906,0.500000,-17.373619,50.038667
75%,86.801496,13.684104,67.870073,1.000000,-9.185191,54.896583,21.059713,74.441216,3.000000,-17.419390,54.576381,14.020396,69.262757,1.000000,-9.627544,54.962602
max,133.384795,19.973331,76.973576,1.000000,-2.060708,70.365951,29.994610,86.895006,3.000000,-10.129522,68.201681,19.992891,76.639179,1.000000,-2.003168,69.147818

In [668]:
df.isnull().sum()

Dependent Var          0
Explanatory Var #1     0
Explanatory Var #2     0
Explanatory Var #3     0
Explanatory Var #4     0
Explanatory Var #5     0
Explanatory Var #6     0
Explanatory Var #7     0
Explanatory Var #8     0
Explanatory Var #9     0
Explanatory Var #10    0
Explanatory Var #11    0
Explanatory Var #12    0
Explanatory Var #13    0
Explanatory Var #14    0
Explanatory Var #15    0
dtype: int64

In [669]:
df.columns = df.columns.str.replace(' ', '_')
df.columns = df.columns.str.replace('#', '')
print("New column names:", df.columns)

New column names: Index(['Dependent_Var', 'Explanatory_Var_1', 'Explanatory_Var_2',
       'Explanatory_Var_3', 'Explanatory_Var_4', 'Explanatory_Var_5',
       'Explanatory_Var_6', 'Explanatory_Var_7', 'Explanatory_Var_8',
       'Explanatory_Var_9', 'Explanatory_Var_10', 'Explanatory_Var_11',
       'Explanatory_Var_12', 'Explanatory_Var_13', 'Explanatory_Var_14',
       'Explanatory_Var_15'],
      dtype='object')

In [670]:
df.columns

Index(['Dependent_Var', 'Explanatory_Var_1', 'Explanatory_Var_2',
       'Explanatory_Var_3', 'Explanatory_Var_4', 'Explanatory_Var_5',
       'Explanatory_Var_6', 'Explanatory_Var_7', 'Explanatory_Var_8',
       'Explanatory_Var_9', 'Explanatory_Var_10', 'Explanatory_Var_11',
       'Explanatory_Var_12', 'Explanatory_Var_13', 'Explanatory_Var_14',
       'Explanatory_Var_15'],
      dtype='object')

In [671]:
X = df[df.columns.drop('Dependent_Var')]
y= df['Dependent_Var']

In [672]:

model = sm.OLS(y,X)
results = model.fit()
print(results.params)
print(results.summary())

Explanatory_Var_1     1.307802
Explanatory_Var_2     1.766662
Explanatory_Var_3     6.608328
Explanatory_Var_4     2.072489
Explanatory_Var_5    -0.777609
Explanatory_Var_6     0.012370
Explanatory_Var_7     0.028562
Explanatory_Var_8     0.350970
Explanatory_Var_9    -0.029347
Explanatory_Var_10    0.129243
Explanatory_Var_11    0.014474
Explanatory_Var_12    0.075209
Explanatory_Var_13    0.741353
Explanatory_Var_14   -0.021754
Explanatory_Var_15    0.121208
dtype: float64
                                 OLS Regression Results
=======================================================================================
Dep. Variable:          Dependent_Var   R-squared (uncentered):                   0.999
Model:                            OLS   Adj. R-squared (uncentered):              0.999
Method:                 Least Squares   F-statistic:                          4.509e+04
Date:                Fri, 20 Oct 2023   Prob (F-statistic):                        0.00
Time:                        18:23:00   Log-Likelihood:                         -841.76
No. Observations:                 422   AIC:                                      1714.
Df Residuals:                     407   BIC:                                      1774.
Df Model:                          15
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Explanatory_Var_1      1.3078      0.013    102.159      0.000       1.283       1.333
Explanatory_Var_2      1.7667      0.009    203.101      0.000       1.750       1.784
Explanatory_Var_3      6.6083      0.177     37.232      0.000       6.259       6.957
Explanatory_Var_4      2.0725      0.011    189.896      0.000       2.051       2.094
Explanatory_Var_5     -0.7776      0.011    -68.372      0.000      -0.800      -0.755
Explanatory_Var_6      0.0124      0.008      1.595      0.111      -0.003       0.028
Explanatory_Var_7      0.0286      0.006      4.890      0.000       0.017       0.040
Explanatory_Var_8      0.3510      0.080      4.398      0.000       0.194       0.508
Explanatory_Var_9     -0.0293      0.010     -2.838      0.005      -0.050      -0.009
Explanatory_Var_10     0.1292      0.011     11.409      0.000       0.107       0.152
Explanatory_Var_11     0.0145      0.013      1.152      0.250      -0.010       0.039
Explanatory_Var_12     0.0752      0.009      8.698      0.000       0.058       0.092
Explanatory_Var_13     0.7414      0.177      4.198      0.000       0.394       1.089
Explanatory_Var_14    -0.0218      0.011     -1.974      0.049      -0.043   -8.61e-05
Explanatory_Var_15     0.1212      0.012     10.324      0.000       0.098       0.144
==============================================================================
Omnibus:                        0.087   Durbin-Watson:                   1.875
Prob(Omnibus):                  0.957   Jarque-Bera (JB):                0.188
Skew:                          -0.004   Prob(JB):                        0.910
Kurtosis:                       2.897   Cond. No.                         287.
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Part B (25%)
1. Use error values from the OLS model to calculate their standard deviation and
autocorrelation values for the first three lags.
2. Then, run the GLS model accordingly.
3. Show your summary table in Python and interpret your results in the summary report.

In [673]:
error_values = y - results.predict(X)

In [674]:
std_error = np.std(error_values)
print(f'Standard deviation of error values: {std_error}')

Standard deviation of error values: 1.7757282184664038

In [675]:
autocorr_values = acf(error_values, nlags=3)

print(f'Autocorrelation at lag 1: {autocorr_values[1]}')
print(f'Autocorrelation at lag 2: {autocorr_values[2]}')
print(f'Autocorrelation at lag 3: {autocorr_values[3]}')

Autocorrelation at lag 1: 0.050656640908617816
Autocorrelation at lag 2: 0.05487850922557077
Autocorrelation at lag 3: 0.0321011108491575

In [676]:
gls_model = GLS(y, X)
gls_results = gls_model.fit()
print(gls_results.summary())

                                 GLS Regression Results
=======================================================================================
Dep. Variable:          Dependent_Var   R-squared (uncentered):                   0.999
Model:                            GLS   Adj. R-squared (uncentered):              0.999
Method:                 Least Squares   F-statistic:                          4.509e+04
Date:                Fri, 20 Oct 2023   Prob (F-statistic):                        0.00
Time:                        18:23:00   Log-Likelihood:                         -841.76
No. Observations:                 422   AIC:                                      1714.
Df Residuals:                     407   BIC:                                      1774.
Df Model:                          15
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Explanatory_Var_1      1.3078      0.013    102.159      0.000       1.283       1.333
Explanatory_Var_2      1.7667      0.009    203.101      0.000       1.750       1.784
Explanatory_Var_3      6.6083      0.177     37.232      0.000       6.259       6.957
Explanatory_Var_4      2.0725      0.011    189.896      0.000       2.051       2.094
Explanatory_Var_5     -0.7776      0.011    -68.372      0.000      -0.800      -0.755
Explanatory_Var_6      0.0124      0.008      1.595      0.111      -0.003       0.028
Explanatory_Var_7      0.0286      0.006      4.890      0.000       0.017       0.040
Explanatory_Var_8      0.3510      0.080      4.398      0.000       0.194       0.508
Explanatory_Var_9     -0.0293      0.010     -2.838      0.005      -0.050      -0.009
Explanatory_Var_10     0.1292      0.011     11.409      0.000       0.107       0.152
Explanatory_Var_11     0.0145      0.013      1.152      0.250      -0.010       0.039
Explanatory_Var_12     0.0752      0.009      8.698      0.000       0.058       0.092
Explanatory_Var_13     0.7414      0.177      4.198      0.000       0.394       1.089
Explanatory_Var_14    -0.0218      0.011     -1.974      0.049      -0.043   -8.61e-05
Explanatory_Var_15     0.1212      0.012     10.324      0.000       0.098       0.144
==============================================================================
Omnibus:                        0.087   Durbin-Watson:                   1.875
Prob(Omnibus):                  0.957   Jarque-Bera (JB):                0.188
Skew:                          -0.004   Prob(JB):                        0.910
Kurtosis:                       2.897   Cond. No.                         287.
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [677]:
glsar_model = GLSAR(y, X, rho=3)
glsar_results = glsar_model.fit()
print(glsar_results.summary())

                                GLSAR Regression Results
=======================================================================================
Dep. Variable:          Dependent_Var   R-squared (uncentered):                   0.999
Model:                          GLSAR   Adj. R-squared (uncentered):              0.999
Method:                 Least Squares   F-statistic:                          4.529e+04
Date:                Fri, 20 Oct 2023   Prob (F-statistic):                        0.00
Time:                        18:23:00   Log-Likelihood:                         -833.33
No. Observations:                 419   AIC:                                      1697.
Df Residuals:                     404   BIC:                                      1757.
Df Model:                          15
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Explanatory_Var_1      1.3060      0.013    102.366      0.000       1.281       1.331
Explanatory_Var_2      1.7667      0.009    204.054      0.000       1.750       1.784
Explanatory_Var_3      6.6299      0.177     37.437      0.000       6.282       6.978
Explanatory_Var_4      2.0728      0.011    190.431      0.000       2.051       2.094
Explanatory_Var_5     -0.7781      0.011    -68.785      0.000      -0.800      -0.756
Explanatory_Var_6      0.0121      0.008      1.573      0.116      -0.003       0.027
Explanatory_Var_7      0.0282      0.006      4.832      0.000       0.017       0.040
Explanatory_Var_8      0.3503      0.080      4.394      0.000       0.194       0.507
Explanatory_Var_9     -0.0310      0.010     -3.001      0.003      -0.051      -0.011
Explanatory_Var_10     0.1297      0.011     11.516      0.000       0.108       0.152
Explanatory_Var_11     0.0169      0.013      1.345      0.179      -0.008       0.042
Explanatory_Var_12     0.0756      0.009      8.762      0.000       0.059       0.093
Explanatory_Var_13     0.7607      0.176      4.319      0.000       0.414       1.107
Explanatory_Var_14    -0.0203      0.011     -1.845      0.066      -0.042       0.001
Explanatory_Var_15     0.1203      0.012     10.293      0.000       0.097       0.143
==============================================================================
Omnibus:                        0.340   Durbin-Watson:                   1.887
Prob(Omnibus):                  0.844   Jarque-Bera (JB):                0.461
Skew:                          -0.033   Prob(JB):                        0.794
Kurtosis:                       2.852   Cond. No.                         286.
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Part C (25%)
1. Split the dataset into two as the training and test sets (test size = 0.5).
2. Run the Lasso model with alpha=1 and estimate the coefficients using the training set.
3. Then, calculate the mean absolute percentage error using the test set.
4. Find an approximate value for alpha that minimizes the mean absolute percentage error.

In [678]:
from sklearn.model_selection import train_test_split

In [679]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5)

In [680]:
from sklearn.linear_model import Lasso

In [681]:
clf = Lasso(alpha=1.0)
clf.fit(X_train, y_train)
lasso_pred = clf.predict(X_test)

In [682]:
print(clf.coef_)

[ 1.27574571  1.68270999  2.13335079  2.09035526 -0.91166858 -0.01149149
  0.         -0.          0.          0.          0.00507482 -0.
  0.          0.         -0.        ]

In [683]:

mse= np.sqrt(mean_squared_error(lasso_pred, y_test))
print(f"Mean Squared Error = {mse}")

Mean Squared Error = 2.070931873340667

In [684]:
alphas = [0.01, 0.05, 0.1, 0.3, 0.6, 0.8, 1.0, 5.0, 10.0]
mse_values = []

for alpha in alphas:
    clf = Lasso(alpha=alpha)
    clf.fit(X_train, y_train)

    lasso_pred = clf.predict(X_test)

    mse = np.sqrt(mean_squared_error(lasso_pred, y_test))
    mse_values.append(mse)

    coef = clf.coef_

    print(f"Alpha: {alpha} - Mean Squared Error: {mse}")

Alpha: 0.01 - Mean Squared Error: 0.020720856695996593
Alpha: 0.05 - Mean Squared Error: 0.10354429813416789
Alpha: 0.1 - Mean Squared Error: 0.20709533351959014
Alpha: 0.3 - Mean Squared Error: 0.621276388236599
Alpha: 0.6 - Mean Squared Error: 1.242557136028638
Alpha: 0.8 - Mean Squared Error: 1.6567445780479233
Alpha: 1.0 - Mean Squared Error: 2.070931873340667
Alpha: 5.0 - Mean Squared Error: 3.3476046914891735
Alpha: 10.0 - Mean Squared Error: 4.155487453955305

In [685]:
data = {
    'Month': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25],   # values for column A
    'Demand': [100, 112, 107, 103, 91, 85, 84, 85, 79, 81, 134, 86, 99, 89, 111, 114, 118, 163, 193, 143, 144, 202, 158, 160, 144],  # values for column B
    'Advance_Demand': [71, 30, 75, 64, 41, 51, 42, 51, 57, 49, 134, 52, 99, 56, 81, 79, 73, 163, 193, 99, 91, 202, 105, 101, 96]   # values for column C
}

# Create DataFrame
df_table = pd.DataFrame(data)

In [686]:
df_table

    Month  Demand  Advance_Demand
0       1     100              71
1       2     112              30
2       3     107              75
3       4     103              64
4       5      91              41
5       6      85              51
6       7      84              42
7       8      85              51
8       9      79              57
9      10      81              49
10     11     134             134
11     12      86              52
12     13      99              99
13     14      89              56
14     15     111              81
15     16     114              79
16     17     118              73
17     18     163             163
18     19     193             193
19     20     143              99
20     21     144              91
21     22     202             202
22     23     158             105
23     24     160             101
24     25     144              96